<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户的mybatis -->
<mapper namespace="member">
	<select id="getMembersList" resultType="com.landao.main.member.viewmodel.MemberBean">
		SELECT m.CARDCODE,m.NAME FROM MEMBER m where m.TENANTID=1
	</select>
	
	<select id="getMembersCount" resultType="int">
		SELECT count(*) FROM MEMBER where TENANTID=1
	</select>
</mapper> 
